body {
    font-family: Roboto, Raleway, sans-serif;
    color: var(--main-text);
}

/* STUDIO */

/* logo-studio-portfolio */
.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.web {
    color: var(--active-text);
}

.studio {
    color: var(--ultra-black-text);
}

/* navigation */
.menu-navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    text-decoration: none;
    color: var(black-text);
}

.menu-navigation:link {
    color: var(--black-text);
}

.menu-navigation:visited {
    color: var(--black-text);
}

.menu-navigation:hover {
    color: var(--active-text);
}

.menu-navigation:focus {
    outline: none;
    color: var(--active-text);
}

.menu-navigation:active {
    color: var(--active-text);
}

/* contacts */
.contacts {
    font-size: 14px;
    line-height: 1.1;
    text-decoration: none;
}

.contacts:link {
    color: var(--main-text);
}

.contacts:hover {
    color: var(--active-text);
}

.contacts:focus {
    outline: none;
    color: var(--active-text);
}

.contacts:active {
    color: var(--active-text);
}

/* hero */
.hero {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-decoration: none;
    color: var(--white-text);
    background-color: var(--dark-background);
}

/* button-studio */
.button-studio {
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    color: var(--black-text);
    background-color: var(--light-background);
    cursor: pointer;
}

.button-studio:hover {
    background-color: var(--active-text);
    color: var(--white-text);
}

.button-studio:focus {
    outline: none;
    background-color: var(--active-text);
    color: var(--white-text);
}

.button-studio:active {
    background-color: var(--active-text);
    color: var(--white-text);
}

.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    text-decoration: none;
    color: var(--black-text);
}

.text {
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
}

.activity {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--black-text);
}

.my-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--black-text);
}

.member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--black-text);
}

.position {
    font-size: 16px;
    line-height: 1.2;
    text-decoration: none;
}

/* PORTFOLIO */

/* buttons */
.buttons {
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--black-text);
    background-color: var(--light-background);
    cursor: pointer;
}

.buttons:hover {
    background-color: var(--active-text);
    color: var(--white-text);
}

.buttons:focus {
    outline: none;
    background-color: var(--active-text);
    color: var(--white-text);
}

.buttons:active {
    background-color: var(--active-text);
    color: var(--white-text);
}

/* projects */
.projects {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--black-text);
}

.product {
    font-size: 16px;
    line-height: 1.9;
    text-decoration: none;
}

/* footer */
.footer {
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
}

.footer:link {
    color: var(--main-text);
}

.footer:hover {
    color: var(--active-text);
}

.footer:focus {
    outline: none;
}

.footer:active {
    color: var(--active-text);
}

/* variables */
:root {
    --dark-background: #2F303A;
    --light-background: #F5F4FA;
    --active-text: #2196F3;
    --main-text: #757575;
    --white-text: #FFFFFF;
    --black-text: #212121;
    --ultra-black-text: #000000;
}